django==3.2.8
djangorestframework==3.12.4
psycopg2-binary==2.8.6
daphne==3.0.1
whitenoise==5.3.0
jsonschema
requests==2.26.0
twisted[tls,http2]
# asgiref==3.2.10
langdetect==1.0.9
scrapy==2.5.1
beautifulsoup4==4.10.0
bertopic==0.9.3
boto3==1.20.7 